@import url('https://fonts.googleapis.com/css?family=Raleway|Lato:400,700');

body {
    margin: 0;
    font-family: 'Lato', sans-serif;
    overflow: visible;
}

#root > div {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: url('./background-image.jpg') no-repeat center center fixed;
    background-size: cover;
}

.dark-mode {
    filter: grayscale(50%) invert(100%) brightness(95%) hue-rotate(180deg)
}

.dark-mode > .dark-mode-toggle::after {
    box-shadow: 2px 4px 8px rgba(55, 116, 159, 0.6);
}

.dark-mode-toggle {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    font-size: 1.5em;
    z-index: 1000;
}

.dark-mode-toggle::after {
    content: "Toggle Dark Mode";
    position: absolute;
    top: 40px;
    right: 0;
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 8px;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
    font-size: 0.4em;
    white-space: nowrap;
    z-index: 1010;
    background-color: #333;
}

.dark-mode-toggle:hover::after {
    opacity: 1;
    visibility: visible;
}

.dark-mode-toggle:hover {
    transform: scale(1.5);
}

.quote-box {
    width: 34vw;
    margin: 0 auto;
    text-align: justify;
}

.quote-text {
    font-family: 'Raleway', sans-serif;
    font-size: 1.4em;
    padding: 1vh 1vw;
}

.quote-author {
    font-style: italic;
    font-size: 1.3em;
    margin: 0 2vw;
    text-align: right;
}

.new-quote-btn, .tweet-quote-btn {
    margin: 2vh 1vw;
    padding: 4px 10px;
    font-size: 1.1em;
    cursor: pointer;
}

.twitter-share-link {
    text-decoration: none;
    color: #23A4FF;
}

.btn-group {
    display: flex;
    justify-content: flex-end;
}

@media screen and (max-width: 1200px) and (min-width: 640px) {
    .quote-text {
        font-size: 1em;
    }

    .quote-author {
        font-size: .8em;
    }

    .new-quote-btn, .tweet-quote-btn {
        font-size: .7em;
    }
}

@media screen and (max-height: 355px){
    .quote-text {
        font-size: .6em;
    }
}

@media screen and (max-width: 639px) {
    #root > div {
        background-image: none;
        background-color: #FF5652;
    }
    .quote-box {
        width: 80vw;
        margin: 0 auto;
        box-shadow: 2px 2px 5px dimgray;
        background-color: white;
        padding: 5vh 5vw;
    }
    .quote-text {
        font-size: 1.3em;
    }

    .quote-author {
        font-size: 1.2em;
    }
}