@import url('https://fonts.googleapis.com/css?family=Raleway|Lato:400,700');

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: 0;
    height: 100vh;
}

#root{
    display: flex;
}
footer {
    text-align: center;
}

#quote-box {
    width: 40vw;
    min-width: 200px;
    height: max-content;
    min-height: max-content;
    background-color: aliceblue;
    margin: auto;
    padding: 3vw;
    text-align: justify;
}

#text {
    font-family: 'Raleway', sans-serif;
    font-size: 1.7em;
}

#author {
    font-family: 'Lato', sans-serif;
    font-style: italic;
    font-size: 1.6em;
    margin: 2vh 5vh;
    text-align: right;
}

#tweet-quote {
     font-size: 2em;
}

#new-quote {
    float: right;
    font-size: 1.1em;

    }
